In [14]:
import numpy as np
import pandas as pd

In [15]:
lig=pd.read_csv('lig.csv',delimiter=";")

In [ ]:
lig.head

In [17]:
lig.columns=["yil","takim","oyun","galibiyet","beraberlik","maglubiyet"
,"atilan_gol","yenilen_gol","averaj","puan"]

In [18]:
lig.tail(3)

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan
57,2016,Besiktas,34,25,4,5,75,35,40,79
58,2017,Besiktas,34,23,8,3,73,30,43,77
59,2018,Galatasaray,34,24,3,7,75,33,42,75

In [19]:
lig['puan_duzeltilmis']=(lig['galibiyet']*3)+(lig['beraberlik']*1)

In [20]:
lig.head(5)

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzeltilmis
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,41
1,1960,Besiktas,38,29,7,2,68,15,53,65,94
2,1961,Fenerbahce,38,26,9,3,81,29,52,61,87
3,1962,Galatasaray,38,23,11,4,52,18,34,57,80
4,1963,Galatasaray,22,14,7,1,54,14,40,35,49

In [21]:
lig[lig['puan']==lig['puan_duzeltilmis']].iloc[[0]]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzeltilmis
29,1988,Galatasaray,38,27,9,2,86,35,51,90,90

In [25]:
sampiyon=pd.DataFrame(lig['takim'].value_counts())

In [26]:
sampiyon

             takim
Galatasaray     21
Fenerbahce      19
Besiktas        13
Trabzonspor      6
Bursaspor        1

In [27]:
sampiyon.to_excel("sampiyon.xlsx")

In [29]:
len(lig['takim'].unique())

5

In [30]:
lig.head(3)

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzeltilmis
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,41
1,1960,Besiktas,38,29,7,2,68,15,53,65,94
2,1961,Fenerbahce,38,26,9,3,81,29,52,61,87

In [32]:
lig.groupby(by=['takim','yil']).sum()

                  oyun  galibiyet  beraberlik  maglubiyet  atilan_gol  \
takim       yil
Besiktas    1960    38         29           7           2          68
            1966    30         20           8           2          52
            1967    32         16          13           3          44
            1982    32         14          16           2          38
            1986    36         22          12           2          65
            1990    34         23           6           5          77
            1991    30         20           9           1          63
            1992    30         23           7           0          58
            1995    34         24           7           3          80
            2003    34         26           7           1          63
            2009    34         21           8           5          60
            2016    34         25           4           5          75
            2017    34         23           8           3          73
Bursaspor   2010    34         23           6           5          65
Fenerbahce  1959    16         13           2           1          33
            1961    38         26           9           3          81
            1964    34         21          11           2          55
            1965    30         18          11           1          52
            1968    32         19          11           2          38
            1970    30         17          10           3          31
            1974    30         15          13           2          39
            1975    30         15          13           2          43
            1978    30         17           8           5          48
            1983    34         18          13           3          43
            1985    34         18          14           2          65
            1989    36         29           6           1         103
            1996    34         26           6           2          68
            2001    34         24           4           6          82
            2004    34         23           7           4          82
            2005    34         26           2           6          77
            2007    34         20          10           4          65
            2011    34         26           4           4          84
            2014    34         23           5           6          74
Galatasaray 1962    38         23          11           4          52
            1963    22         14           7           1          54
            1969    30         19           8           3          49
            1971    30         17           8           5          51
            1972    30         17           8           5          34
            1973    30         19           9           2          47
            1987    36         23           8           5          55
            1988    38         27           9           2          86
            1993    30         20           6           4          74
            1994    30         22           4           4          67
            1997    34         25           7           2          90
            1998    34         23           6           5          86
            1999    34         23           9           2          85
            2000    34         24           7           3          77
            2002    34         24           6           4          75
            2006    34         26           5           3          82
            2008    34         24           7           3          64
            2012    34         23           8           3          69
            2013    34         21           8           5          66
            2015    34         24           5           5          60
            2018    34         24           3           7          75
Trabzonspor 1976    30         17           9           4          36
            1977    30         18           7           5          41
            1979    30         13          16           1          34
            1980    30         12          15           3          25
            1981    30         16           7           7          41
            1984    34         18          14           2          43

                  yenilen_gol  averaj  puan  puan_duzeltilmis
takim       yil
Besiktas    1960           15      53    65                94
            1966           16      36    48                68
            1967           15      29    45                61
            1982           17      21    44                58
            1986           21      44    56                78
            1990           20      57    75                75
            1991           24      39    69                69
            1992           20      38    76                76
            1995           26      54    79                79
            2003           21      42    85                85
            2009           30      30    71                71
            2016           35      40    79                79
            2017           30      43    77                77
Bursaspor   2010           26      39    75                75
Fenerbahce  1959            8      25    28                41
            1961           29      52    61                87
            1964           14      41    53                74
            1965           13      39    47                65
            1968           12      26    49                68
            1970            6      25    44                61
            1974           15      24    43                58
            1975           18      25    43                58
            1978           24      24    42                59
            1983           20      23    49                67
            1985           25      40    50                68
            1989           27      76    93                93
            1996           19      49    84                84
            2001           39      43    76                76
            2004           41      41    76                76
            2005           24      53    80                80
            2007           31      34    70                70
            2011           34      50    82                82
            2014           33      41    74                74
Galatasaray 1962           18      34    57                80
            1963           14      40    35                49
            1969           14      35    46                65
            1971           18      33    42                59
            1972           14      20    42                59
            1973           12      35    47                66
            1987           24      31    54                77
            1988           35      51    90                90
            1993           21      53    66                66
            1994           28      39    70                70
            1997           30      60    82                82
            1998           43      43    75                75
            1999           30      55    78                78
            2000           23      54    79                79
            2002           31      44    78                78
            2006           34      48    83                83
            2008           23      41    79                79
            2012           24      45    77                77
            2013           35      31    71                71
            2015           35      25    77                77
            2018           33      42    75                75
Trabzonspor 1976           14      22    43                60
            1977           12      29    43                61
            1979            7      27    42                55
            1980           11      14    39                51
            1981           21      20    39                55
            1984           14      29    50                68

In [33]:
lig.head(3)

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzeltilmis
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,41
1,1960,Besiktas,38,29,7,2,68,15,53,65,94
2,1961,Fenerbahce,38,26,9,3,81,29,52,61,87

In [35]:
maxpuan=lig['puan_duzeltilmis'].max()
lig[lig['puan_duzeltilmis']==maxpuan]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzeltilmis
1,1960,Besiktas,38,29,7,2,68,15,53,65,94

In [39]:
minpuan=lig['puan_duzeltilmis'].min()
lig[lig['puan_duzeltilmis']==minpuan]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzeltilmis
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,41

In [40]:
lig['ort_puan']=lig['puan_duzeltilmis']/lig['oyun']

maxortpuan=lig['ort_puan'].max()
lig[lig['ort_puan']==maxortpuan]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzeltilmis,ort_puan
30,1989,Fenerbahce,36,29,6,1,103,27,76,93,93,2.583333

In [42]:
minortpuan=lig['ort_puan'].min()
lig[lig['ort_puan']==minortpuan]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzeltilmis,ort_puan
21,1980,Trabzonspor,30,12,15,3,25,11,14,39,51,1.7

In [45]:
lig['ort_gol']=lig['atilan_gol']/lig['oyun']

In [46]:
lig.head()

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzeltilmis,ort_puan,ort_gol
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,41,2.562500,2.062500
1,1960,Besiktas,38,29,7,2,68,15,53,65,94,2.473684,1.789474
2,1961,Fenerbahce,38,26,9,3,81,29,52,61,87,2.289474,2.131579
3,1962,Galatasaray,38,23,11,4,52,18,34,57,80,2.105263,1.368421
4,1963,Galatasaray,22,14,7,1,54,14,40,35,49,2.227273,2.454545

In [47]:
lig['ort_gol'].mean()

1.868372612867582

In [44]:
lig['ort_puan'].mean()

2.187392790781916